{% extends "base_confirm_delete.html" %}

{% load i18n %}
{% load modelfuncs %}

{% block meta_title %}
{% blocktrans with object_list|model_name_plural as model %}Delete {{ model }}{% endblocktrans %}
{% endblock %}

{% block title %}
<h1>{% block object-title %}{% blocktrans with object_list|model_name_plural as model %}Delete {{ model }}{% endblocktrans %}{% endblock %}</h2>
{% endblock %}

{% block message %}
{% blocktrans with object_list|model_name_plural as model %}
<h3>Are you sure you want to <strong>delete</strong> these {{ model }}?</h3>
{% endblocktrans %}
<ul>
    {% for obj in object_list %}
    <li>
        <input name="{% if table.uid %}{{ table.uid }}_{% endif %}select_{{ obj.pk }}" type="checkbox" checked="on" />
        <a title="{{ obj }}" href="{{ obj.get_absolute_url }}" target="_blank">{{ obj }}</a>
    </li>
    {% endfor %}
</ul>
<p>{% blocktrans %}Please, keep in mind this operation is <strong>irreversible</strong>...{% endblocktrans %}</p>
{% endblock %}

{% block buttons %}
{% with back=request.path next=request.path %}
{{ block.super }}
{% endwith %}
{% endblock %}
