{% extends "base.html" %}

{% load i18n %}
{% load modelfuncs %}

{% block meta_title %}
{% blocktrans with object|model_name as model %}Delete {{ model }}{% endblocktrans %}
{% endblock %}

{% block title %}
<h1>{% block object-title %}{{ object|striptags|capfirst }}{% endblock %}</h1>
<h2>{% block subtitle %}{% blocktrans with object|model_name as model %}Delete {{ model }}{% endblocktrans %}{% endblock %}</h2>
{% endblock %}

{% block main %}
<form method="post" action="{{ request.path }}{% if next %}?next={{ next }}{% endif %}">
    {% csrf_token %}
    <div class="message">
        {% block message %}
        {% blocktrans with object|model_name as model %}
        <h3>Are you sure you want to <strong>delete</strong> this {{ model }}?</h3>
        <p>Please, keep it mind this operation is <strong>irreversible</strong>...</p>
        {% endblocktrans %}
        {% endblock %}
        {% block buttons %}
        {% include "elements/submit_button.html" %}
        {% include "elements/cancel_button.html" %}
        {% endblock %}
    </div>
</form>
{% endblock %}
