{% load i18n %}

{% with field_count=table.headers|length %}
<thead>
    <tr>
        {% for h in table.headers %}
        {% block table_header %}
        <td class="{{ h.type }}">
            {{ h.name|capfirst }}
            {% if h.attname in table.order_by %}
            <a class="asc" href="{{ request.path }}?{% if table.uid %}{{ table.uid }}_{% endif %}order_by=-{{ h.attname }}">&#9652;</a>
            {% else %}
            <a class="desc" href="{{ request.path }}?{% if table.uid %}{{ table.uid }}_{% endif %}order_by={{ h.attname }}">&#9662;</a>
            {% endif %}
        </td>
        {% endblock %}
        {% endfor %}
    </tr>
</thead>
{% if table.rows %}
<tbody>
    {% for row in table.rows %}
    <tr{% cycle '' ' class="altrow"' %}>
        {% for f in row.fields %}
        {% with field_index=forloop.counter0 %}
        {% block table_field %}
        {% if field_index == 0 %}
        <td>
            {% block table_first_column %}<strong>{{ f }}</strong>{% endblock %}
        </td>
        {% else %}
        <td>
            {% block table_column %}{{ f }}{% endblock %}
        </td>
        {% endif %}
        {% endblock %}
        {% endwith %}
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
{% block table_footer %}
{% endblock %}
{% else %}
<tbody><tr><td class="empty" colspan="{{ field_count }}">{% include "elements/empty.html" %}</td></tr></tbody>
{% endif %}
{% endwith %}
