{% extends "base_wizard_form.html" %}

{% load i18n %}
{% load breadcrumbs %}

{% block breadcrumbs %}
    {% add_crumb 'Home' '/' %}
    {% add_crumb region region.get_absolute_url %}
    {% if object and object.pk %}
    {% add_crumb  object.title object.get_absolute_url %}
    {% add_crumb 'Edit' %}
    {% else %}
    {% add_crumb 'Add plugget' %}
    {% endif %}
{% endblock %}

{% block object-title %}
{% if object and object.pk %}
{{ object.title|striptags|capfirst }}
{% else %}
{% blocktrans with model="plugget" %}Add {{ model }}{% endblocktrans %}
{% endif %}
{% endblock %}

{% block subtitle %}
{% blocktrans with step1=wizard.steps.step1 count=wizard.steps.count %}Step {{ step1 }} of {{ count }}:{% endblocktrans %}
{% if wizard.steps.step0 == 0 %}{% trans "choose type" %}{% else %}{% trans "configure settings" %}{% endif %}
{% endblock %}

{% block formbody %}
{{ block.super }}
{% if plugget_description %}
<tr><th>{% trans "Description" %}:</th><td>{{ plugget_description }}</td></tr>
{% endif %}
{% endblock %}
